.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    height: 32px;
    background: rgba(255, 255, 255, .2);
    margin: 16px;
}

.hl-padding-content {
    margin-top: 14px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    padding: 24px;
    background: #fff;
}

.hl-no-padding-content {
    margin-top: 14px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    background: #fff;
}